In [1]:
a = "my name is shubham"
b = [2,3,4,5,6,"shubh",99.65,True]
c = 33.54
d = ("apple",2,3,4,5,"mango")

In [2]:
print(type(a),type(b),type(c),type(d))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

In [3]:
var1 = ''

In [4]:
type(var1)

str

In [5]:
var2 = '[DS,ML,PYTHON]'

In [6]:
type(var2)

str

In [8]:
var3 = ['DS','ML','PYTHON']

In [9]:
type(var3)

list

In [10]:
var4 = 1.

In [11]:
type(var4)

float

In [12]:
4/2

2.0

In [17]:
1%4

1

In [19]:
8//4

2

In [20]:
3**3

27

In [21]:
l = [2,3,4,5,6,7,"shubh",22.34,2+3j,True]
for i in l:
    print(i,type(i))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
shubh <class 'str'>
22.34 <class 'float'>
(2+3j) <class 'complex'>
True <class 'bool'>

In [23]:
a = int(input())
b = int(input())
while a%b == 0 :
    print("a is purely divisible by b" , "and a is divisible by b for" , a/b , "times")
    break
else :
    print("a is divisible by b")

 8
 4

a is purely divisible by b and a is divisible by b for 2.0 times

In [37]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a :
    if i%3 == 0 :
        print(i, "is is divisible by 3")
    else :
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is is divisible by 3
25 is not divisible by 3

In [38]:
#Mutable data: a data which cannot be editted at a particular index for eg- list is mutable

In [39]:
l = [2,3,4,5,6,"shubh",44.444,True]

In [40]:
l[2]

4

In [41]:
l[2] = 300

In [42]:
l

[2, 3, 300, 5, 6, 'shubh', 44.444, True]

In [43]:
#Immutable data : A data which cannot be editted at a particular index for eg - string

In [44]:
c = "my name is shubham"

In [46]:
c[3]

'n'

In [47]:
c[3] = k

NameError: name 'k' is not defined