In [5]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [6]:
#answer1- A database is a structured collection of data that is organized and managed in a way that allows for 
#         efficient storage, retrieval, and manipulation of data. 
#         It provides a systematic way to store and manage large volumes of information.
# The main difference between SQL and NoSQL databases lies in their data models, schema flexibility, and scalability options. 
#       SQL databases are known for their strong consistency, ACID (Atomicity, Consistency, Isolation, Durability) properties,
#       and support for complex transactions.
#       NoSQL databases, on the other hand, provide high scalability, flexible schema design, eventual consistency,
#       and are often used in scenarios where data volume and performance are critical.

In [7]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [8]:
#answer2- DDL stands for Data Definition Language. 
#         It is a set of SQL statements used to define and manage the structure of a database.
#         DDL statements are responsible for creating, modifying, and deleting database objects such as tables,
#         indexes, views, and schemas.

# CREATE: The CREATE statement is used to create a new database object.
#for example- CREATE TABLE TABLE_NAME( C1 INt , C2 VARCHAR(12), C3 FLOAT);

# DROP: The DROP statement is used to delete a database object.
#for example - DROP TABLE TABLE_NAME ;

# ALTER: The ALTER statement is used to modify the structure of an existing database object.
#for example- ALTER TABLE TABLE_NAME
#             ADD COLUMN_NAME DATATYPE ;
# TRUNCATE: The TRUNCATE statement is used to delete all the data from a table while keeping its structure intact.
#for example- TRUNCATE TABLE TABLE_NAME ;

In [9]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [10]:
#answer3- DML stands for Data Manipulation Language. 
#         It is a set of SQL statements used to manage the data within a database. 
#         DML statements allow you to insert, update, and delete data from database tables.

# Insert -The INSERT statement is used to insert new records into a table. 
#         INSERT INTO table_name (name, age)
#         VALUES ('John', 25) ;

# UPDATE: The UPDATE statement is used to modify existing records in a table.
#         UPDATE table_name
#         SET age = 30
#         WHERE name = 'John';

# DELETE: The DELETE statement is used to delete records from a table. 
#         DELETE FROM table_name
#         WHERE age > 40 ;

In [11]:
#Q4. What is DQL? Explain SELECT with an example.

In [12]:
#answer4- DQL stands for Data Query Language. It is a subset of SQL used to retrieve data from a database. 
#        The most commonly used DQL statement is SELECT, which allows you to query and retrieve data 
#        from one or more tables based on specific conditions.

# SELct example - SELECT * FROM table_name ;
#                 SELECT name, age FROM table_name ;
#                 SELECT * FROM table_name WHERE age > 30 ;

In [13]:
#Q5. Explain Primary Key and Foreign Key.

In [14]:
#answer5- Primary Key: A primary key is a column or a combination of columns in a database table that uniquely
#         identifies each row in the table. It provides a way to ensure data integrity and enforce uniqueness.
#         A primary key constraint ensures that the values in the primary key column(s) are unique and not null.
#         It is typically used as a reference point for relationships with other tables.

#Foreign Key: A foreign key is a column or a combination of columns in a table that refers to the primary key
#             of another table. It establishes a relationship between two tables, creating a link between them.
#             The foreign key constraint ensures referential integrity, meaning that the values in the foreign
#             key column(s) must match the values in the primary key column(s) of the referenced table or be null.

In [20]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#answer6- 
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="abc",password="password")

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
#The cursor()- the method is called on the connection object to create a cursor.
#             The cursor is used to execute SQL statements and retrieve results.
#The execute() - the method is used to execute an SQL query. It takes the SQL query as a parameter.

In [23]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
#answer7- 
#The order of execution of SQL clauses in an SQL query is as follows:

#FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

WHERE: The WHERE clause is used to filter the rows based on specified conditions.

GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns.

HAVING: The HAVING clause is used to filter the grouped rows based on specified conditions.

SELECT: The SELECT clause is used to specify the columns to be retrieved from the table.

DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set.

ORDER BY: The ORDER BY clause is used to sort the rows in the result set based on one or more columns.

LIMIT/OFFSET: The LIMIT and OFFSET clauses are used for result set pagination, allowing you to retrieve a specific number of rows starting from a particular